# Flutter
.dart_tool/
.packages
build/
pubspec.lock
*.iml
.idea/
.vscode/
flutter_export_environment.sh
.flutter-plugins
.flutter-plugins-dependencies
.DS_Store
.flutter_sdk/

# Flutter generated / ephemeral
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
macos/Flutter/ephemeral/
macos/Flutter/GeneratedPluginRegistrant.swift
macos/Flutter/Flutter-Generated.xcconfig
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
android/app/src/main/java/io/flutter/plugins/GeneratedPluginRegistrant.java

# Paperclip/QA heartbeat artifacts
QA_HEARTBEAT_*.md

# Spring/Gradle
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
